/* 
 * ICS325 - Group Project
 * Iteration: 2
 * Group: D for Dolphins
 * File: style.css
 * Author: Kevin Casey, Jordan Grenier, Paul Schilmoeller, Patrick Viker, Joshua Wilson
 * Description: Main CSS for overall styling of site
 *   
 * */

body{
	font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-size: 14px;
	color: white;
	/*background: black url("../images/header.jpg") no-repeat fixed;*/
	background: #4c4c4c;
	background: -moz-linear-gradient(45deg,  #4c4c4c 0%, #595959 12%, #474747 18%, #666666 25%, #2c2c2c 50%, #000000 58%, #2b2b2b 65%, #111111 71%, #1c1c1c 85%, #131313 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left bottom, right top, color-stop(0%,#4c4c4c), color-stop(12%,#595959), color-stop(18%,#474747), color-stop(25%,#666666), 
								color-stop(50%,#2c2c2c), color-stop(58%,#000000), color-stop(65%,#2b2b2b), color-stop(71%,#111111), color-stop(85%,#1c1c1c), color-stop(100%,#131313)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(45deg,  #4c4c4c 0%,#595959 12%,#474747 18%,#666666 25%,#2c2c2c 50%,#000000 58%,#2b2b2b 65%,#111111 71%,#1c1c1c 85%,#131313 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(45deg,  #4c4c4c 0%,#595959 12%,#474747 18%,#666666 25%,#2c2c2c 50%,#000000 58%,#2b2b2b 65%,#111111 71%,#1c1c1c 85%,#131313 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(45deg,  #4c4c4c 0%,#595959 12%,#474747 18%,#666666 25%,#2c2c2c 50%,#000000 58%,#2b2b2b 65%,#111111 71%,#1c1c1c 85%,#131313 100%); /* IE10+ */
	background: linear-gradient(45deg,  #4c4c4c 0%,#595959 12%,#474747 18%,#666666 25%,#2c2c2c 50%,#000000 58%,#2b2b2b 65%,#111111 71%,#1c1c1c 85%,#131313 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4c4c4c', endColorstr='#131313',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
	
	background-attachment: fixed;
}

div.customerInfo1 {

	margin-top: 1em;
	margin-left: 1em;
	border: 2px white solid;
	font-size: 20px;
	width: 20em;
	margin-bottom: 0;
}

div.customerInfo {

	margin: 1em;
	border: 2px white solid;
	font-size: 20px;
	width: 20em;
	margin-top: 0;
}

div.customerInfo span {
	margin-left: 5%;
}

div.orderTotal {
	display: inline-block;
	margin: 1em;
	border: 2px white solid;
	font-size: 20px;
	width: 20em;
	margin-top: 0;
}

div.orderTotal span {
	margin-left: 5%;
}

#mainPageImg {
	position: fixed;
    /*left: 0px;
    top: 0px;*/
    z-index: -1;
    border-radius: 20px;
	overflow: hidden;
	box-shadow: 0px 10px 15px 2px black;
	opacity: 0.3;
}

#indexContent {
	text-align: center;
	position: fixed;
}

div.head {
	position: fixed;
	top: 5px;
	left: 5px;
	font-size: 35px;
	z-index: 1000;
}

div.users {
	position: fixed;
	top: 5px;
	right: 10px;
	z-index: 1000;
}

span.spanHeader {
	padding-left: 1em;
}

.mainContent {
	/*position:absolute;*/
	margin-top: auto;
	/*white-space: nowrap;*/
	margin-left: auto;
	margin-right: auto;
	width: 50%;
}

.mainContentProducts {
	/*position:absolute;*/
	margin-top: auto;
	/*white-space: nowrap;*/
	margin-left: auto;
	margin-right: auto;
	width: 65%;
}

.mainContent2 {
	/*position:absolute;*/
	margin-top: auto;
	/*white-space: nowrap;*/
	margin-left: auto;
	margin-right: auto;
	width: 50%;
}

.mainContentNoCrumbs{
	/*position:absolute;*/
	margin-top: 10em;
	/*white-space: nowrap;*/
	margin-left: auto;
	margin-right: auto;
	width: 50%;
}

.mainContentTable {
	/*position:absolute;*/
	margin-top: auto;
	/*white-space: nowrap;*/
	margin-left: auto;
	margin-right: auto;
	width: 80%;
}

.productContent {
		/*position:absolute;*/
	margin-top: 1em;
	white-space: nowrap;
	margin-left: auto;
	margin-right: auto;
	width: 65%;
}

html, body {
	height: 100%;
	margin: 0;
}


.img {
	border-radius: 20px;
	overflow: hidden;
	box-shadow: 0px 10px 15px 2px black;
	margin-top: 10%;
	float: left;
}

.img:hover {
	opacity: 1;
}

.img {
	opacity: 0.7;
}

.productImg {
	border-radius: 20px;
	overflow: hidden;
	box-shadow: 0px 10px 15px 2px black;
	/*margin-top: 10%;*/
	float: left;
	margin-right: 5em;
}

.productDesc {
	margin-top: 10%;
	/*position: absolute;*/
	white-space:normal;
	float: right;
}

.indexH1 {
	text-align: center;
}

.errorMsg {
	text-align: center;
	color: red;
}

#deleteBtn {
	color:black; 
	border:3px dotted black; 
	padding: .5em;
	text-decoration: none;
}

#deleteBtn:hover {
	color:black; 
	border:3px solid black; 
	padding: .5em;
	text-decoration: none;
}
.adminLinks {
	text-align: center;
	font-size: 22px;
	
}

.mainContent p {
	position:relative;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	width: 20%;
}

table {

}

td {
	padding: 10px;
}

a:link{
	color: white;
	text-decoration: none;
}

a:visited{
	color: white;
	text-decoration: none;
}

a:hover{
	color: white;
	text-decoration: underline;
}

.buyBtn {
  background: #000000;
  background-image: -webkit-linear-gradient(top, #000000, #b1bfc7);
  background-image: -moz-linear-gradient(top, #000000, #b1bfc7);
  background-image: -ms-linear-gradient(top, #000000, #b1bfc7);
  background-image: -o-linear-gradient(top, #000000, #b1bfc7);
  background-image: linear-gradient(to bottom, #000000, #b1bfc7);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  text-shadow: 5px 4px 4px #666666;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  border: solid #ffffff 3px;
  text-decoration: none;
  overflow: visible;
}

.buyBtn:hover {
  background: #b1bfc7;
  background-image: -webkit-linear-gradient(top, #b1bfc7, #000000);
  background-image: -moz-linear-gradient(top, #b1bfc7, #000000);
  background-image: -ms-linear-gradient(top, #b1bfc7, #000000);
  background-image: -o-linear-gradient(top, #b1bfc7, #000000);
  background-image: linear-gradient(to bottom, #b1bfc7, #000000);
  text-decoration: none;
}

.deleteBtn {
  background: #000000;
  background-image: -webkit-linear-gradient(top, #000000, #b1bfc7);
  background-image: -moz-linear-gradient(top, #000000, #b1bfc7);
  background-image: -ms-linear-gradient(top, #000000, #b1bfc7);
  background-image: -o-linear-gradient(top, #000000, #b1bfc7);
  background-image: linear-gradient(to bottom, #000000, #b1bfc7);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  text-shadow: 5px 4px 4px #666666;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  border: solid black 3px;
  text-decoration: none;
  overflow: visible;
}

.deleteBtn:hover {
  background: #b1bfc7;
  background-image: -webkit-linear-gradient(top, #b1bfc7, #000000);
  background-image: -moz-linear-gradient(top, #b1bfc7, #000000);
  background-image: -ms-linear-gradient(top, #b1bfc7, #000000);
  background-image: -o-linear-gradient(top, #b1bfc7, #000000);
  background-image: linear-gradient(to bottom, #b1bfc7, #000000);
  text-decoration: none;
}

.orderBtn {
  background: #000000;
  background-image: -webkit-linear-gradient(top, #000000, #b1bfc7);
  background-image: -moz-linear-gradient(top, #000000, #b1bfc7);
  background-image: -ms-linear-gradient(top, #000000, #b1bfc7);
  background-image: -o-linear-gradient(top, #000000, #b1bfc7);
  background-image: linear-gradient(to bottom, #000000, #b1bfc7);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  text-shadow: 5px 4px 4px #666666;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  border: solid white 1px;
  text-decoration: none;
  overflow: visible;
  position: relative; 
  width: 15%;
  text-align: center;
  right: -80%;
  cursor:pointer;
  margin-bottom: .5em;
}

.orderBtn:hover {
  background: #b1bfc7;
  background-image: -webkit-linear-gradient(top, #b1bfc7, #000000);
  background-image: -moz-linear-gradient(top, #b1bfc7, #000000);
  background-image: -ms-linear-gradient(top, #b1bfc7, #000000);
  background-image: -o-linear-gradient(top, #b1bfc7, #000000);
  background-image: linear-gradient(to bottom, #b1bfc7, #000000);
  text-decoration: none;
}

div.orderBtn a {
	 text-decoration: none;
}

table.products {
	table-layout: fixed;
	width: auto;
	margin-left: 2px;	

}
table.products td {
	white-space: nowrap;

}
table.products tr td:first-child {

}

table.product tr td:nth-child(2){
	color: red;
}

table.product tr td:nth-last-child(1) {
	white-space: nowrap;
	
}


